@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');
$bg-blue: #201848;
$bg: #222831;
$buttons-bg: #1b2028;
$buttons-border: #181d24;
$accent: #26baee;
$pad: 20px;

body {
  background: linear-gradient(-15deg,
    $bg-blue,
    #000 20%,
    #000 75%,
    $bg-blue);
  min-height: 100vh;
  text-align: center;
  font-family: 'Raleway';
  margin: 0;
  padding: 0;
}

#calculator {
  display: inline-block;
  margin: 90px;
  padding: $pad;
  background: $bg;
  font-family: 'Unica One';
}

footer {
  border-top: 1px solid $bg;
  font-size: 0.8rem;
  text-align: center;
  color: $accent;
  letter-spacing: 0.15em;
}

a {
  color: $accent;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  grid-template-rows: 110px 70px 70px 70px 70px 70px;
  grid-gap: $pad;
}

.display {
  background: $accent;
  padding: $pad;
  grid-column: 1 / 5;
  margin: -20px -20px 0px -20px;
  height: 130px;
  box-sizing: border-box;
  color: $buttons-border;
  text-align: right;
  font-size: 40px;
}

.display > .small {
  font-size: .6em;
  color: $bg; 
  height: 30px;
}

.display > p {
  margin: 10px 0;
}

button {
  background: $buttons-bg;
  color: $accent;
  border: 1px solid $buttons-border;
  font-family: 'Unica One';
  font-size: 25px;
  border-radius: 3px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:active {
  outline: none;
  background: $accent;
  color: $buttons-border;
}
.number {
  background: none;
  border: 1px solid $buttons-border;
}
